@import 'styles/colors';
@import 'styles/typography';

.search-data {
  .list-item {
    justify-content: flex-start;
    background: $color-grey-gradient;
    border-bottom: 1px solid $color-grey;
    min-height: 60px;

    &-name {
      display: block;
      margin: 0;
      margin-right: 20px;

      span {
        display: block;

        &:last-child {
          @extend .font-subtitle;
          color: $color-dark-grey;
        }
      }
    }
  }
}
