@import 'styles/typography';

:host {
  display: block;
  margin: auto 70px;
}

.header-title {
  @extend .font-h1;

  margin: 50px, 0, 0;
  padding: 10px 0;

  text-align: center;
}

.weather-block,
.search-bar {
  display: block;
  margin-top: 20px;
}
